Source: webtown-workflow
Package: webtown-workflow
Version: 1.25
Section: devel
Priority: optional
Architecture: all
Essential: no
Depends: git, curl, jq, make, docker-ce, acl
Maintainer: Webtown <info@webtown.hu>
Description: Webtown GitFlow workflow supporter package
Homepage: https://gitlab.webtown.hu/webtown/webtown-workflow
Installed-Size: 30000
