#DOCKER_BASENAME          :=  chrisptest
#DOCKER_PROVISIONING      :=  equipment/dev
#DOCKER_USER_CONFIG_FILES :=  ~/.work/config/docker-compose.init.yml \
#                             ~/.work/config/docker-compose.mysql.yml \
#                             ~/.work/config/docker-compose.xdebug.yml
#DOCKER_SHELL             :=  /bin/zsh
DOCKER_HTTP_HOST         :=  _
#DOCKER_PORT_PREFIX       :=
DOCKER_ENVIRONMENTS := HTTP_PORT=80
