DOCKER_HTTP_HOST         :=  {{ project_name }}.loc

{% if sf_version < 4 %}
# Symfony environments
#SYMFONY_ENV              := dev
#SYMFONY_DEBUG            :=
#SYMFONY_CLASSLOADER_FILE :=
#SYMFONY_HTTP_CACHE       :=
#SYMFONY_HTTP_CACHE_CLASS :=
#SYMFONY_TRUSTED_PROXIES  :=
#SYMFONY_DEPRECATIONS_HELPER := disabled
{% endif %}

# @info XDEBUG_ENABLED         Állítsd 1-re, ha szeretnéd használni az Xdebug-ot. Teljesítmény szempontjából általánosságban kapcsold ki!
# @info XDEBUG_IDE_SERVER_NAME A PHPStorm-ban a projekthez beállított szerver neve.
# @info DOCKER_PROJECT_NETWORK Milyen hálózatot használjon ennél a projektnél. Pl MySQL-nél szeretnénk fix IP-t használni.
DOCKER_ENVIRONMENTS      := XDEBUG_ENABLED=0 XDEBUG_IDE_SERVER_NAME=Docker DOCKER_PROJECT_NETWORK=10.0.1

# PHP environments
# If you want to use other configs, you have to edit the [docker config path]/engine/config/custom.php.ini file!
#TIMEZONE               := Europe/Budapest
#PHP_MAX_EXECUTION_TIME := 30
#PHP_MEMORY_LIMIT       := -1
#PHP_MAX_UPLOAD         := 50M
#PHP_MAX_FILE_UPLOADS   := 200
#PHP_MAX_POST           := 100M

# Személyre szabás
#DOCKER_BASENAME          :=  chrisptest
#DOCKER_USER_CONFIG_FILES :=  ~/.work/config/docker-compose.init.yml \
#                             ~/.work/config/docker-compose.mysql.yml \
#                             ~/.work/config/docker-compose.xdebug.yml
#DOCKER_SHELL             :=  /bin/zsh

# HTTP AUTH : http://www.htaccesstools.com/htpasswd-generator/ !!! Don't forget to escape the $ sign: $ --> \$$ !!!
# Switch on: uncomment this and the `http_auth.conf` volume in the `docker-compose.local.yml.dist`
# pass: `test`
#HTTP_AUTH_PASS := test:\$$apr1\$$2AelZTxL\$$rz/ZqASrztN.bmEiJGHW60

# Localhoston szedd ki a kommentet és hagyd üresen, hogy a 80-as porton keresztül érd el az oldalt.
# @deprecated A web service elérésére inkább használd az alapértelmezett proxy-s megoldást.
#DOCKER_PORT_PREFIX       :=
