Source: webtown-workflow
Package: webtown-workflow
Version: 2.298
Section: devel
Priority: optional
Architecture: all
Essential: no
Depends: git, curl, jq, make
Maintainer: Webtown <info@webtown.hu>
Description: Webtown GitFlow workflow supporter package
Homepage: https://gitlab.webtown.hu/pub/wf
Installed-Size: 30000
